html,
body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: #eebbc3;
    transition: .2s;
}

a:hover {
    color: #ff7e91;
    display: inline-block;
    transform: scale(1.05);
}

h3 {
    font-size: 17px;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}


/*  */

.middle__title {
    font-size: 60px;
    color: #fcfcfc;
    text-align: center;
}

/*  */

/* Top */
.top__main {
    background: #232946;
    width: 100%;
    height: 100vh;
}

.top__title {
    user-select: none;
    font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
    background: -webkit-linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientEffect 2.5s infinite alternate;
}

@keyframes gradientEffect {
    from {
        background-position: left
    }

    to {
        background-position: right
    }
}

/*  */


/* About */

.about__main {
    padding-bottom: 20px;
    height: auto;
    background-color: #b8c1ec;
}

.about__title {
    padding: 20px 0 0 0;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #232946;
    text-align: center;
}

.about__coding {
    box-shadow: inset 5px 5px 10px #181818, inset -5px -5px 10px #242424;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 85%;
    max-width: 900px;
    background-color: #1e1e1e;
}

.about__coding__parent {
    color: #ffe57f;
}

.about__coding__child {
    padding-left: 35px;
}


/*  */


/* skills */

.skills__main {
    padding: 120px 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #232946;
}

.skills__contents {
    margin: 25px;
    width: 42.5%;
    max-width: 425px;
    height: 450px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.skills__contents__subtitle {
    text-align: left;
    color: #fffffe;
}

.script {
    text-align: left;
    color: #b8c1ec;
}

.swiper-title {
    font-size: 25px;
    text-align: left;
    line-height: normal;
    color: #232946;
}

.swiper-explain {
    font-size: 17px;
    text-align: left;
    line-height: normal;
    color: #232946;
}


/* swiper */

.swiper {
    border-radius: 10px;
    cursor: grab;
}

.swiper:active {
    cursor: grabbing;
}

.swiper-wrapper {
    /* wrapperのサイズを調整 */
    border-radius: 10px;
    width: 100%;
    height: 405px !important;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align: center;
}

.swiper-slide-content {
    padding: 20px;
}

.swiper-slide:nth-child(3n + 1) {
    background-color: #fffffe;
}

.swiper-slide:nth-child(3n + 2) {
    background-color: #fffffe;
}

.swiper-slide:nth-child(3n + 3) {
    background-color: #fffffe;
}

.swiper__flex {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
}

.swiper__prev {
    border-radius: 0 10px 0 0;
    color: #b8c1ec;
    background-color: #232946;
    width: 60px;
    height: auto;
    position: relative;
    z-index: 1;
}

.swiper__next {
    border-radius: 10px 0 0 0;
    color: #b8c1ec;
    background-color: #232946;
    width: 60px;
    height: auto;
    position: relative;
    z-index: 1;
}


/* swipe */



/* contact */

.contact__main {
    height: fit-content;
    padding: 0 0 40px 0;
    background-color: #b8c1ec;
}

form {
    text-align: center;
    max-width: 600px;
    width: 85%;
    margin: 0 auto;
}

.contact__title {
    padding: 20px 0 20px 0;
    color: #232946;
    font-size: 40px;
    text-align: center;
}

.form__title {
    text-align: left;
    padding: 0 0 10px;
    font-size: 20px;
    color: #232946;
}

input {
    font-family: Arial, sans-serif;
    padding: 0 0 0 10px;
    font-size: 17px;
    width: 100%;
    background-color: #fffffe;
    border: 1px solid #232946;
    border-left: 5px solid #232946;
    border-radius: 0 10px 10px 0;
    outline: none;
    height: 30px;
    margin: 0 0 20px 0;
}

textarea {
    font-family: Arial, sans-serif;
    resize: none;
    padding: 5px;
    font-size: 17px;
    width: 100%;
    background-color: #fffffe;
    border: 1px solid #232946;
    border-radius: 10px;
    outline: none;
    height: 350px;
    margin: 0 0 20px 0;
}

.button {
    margin: 0 auto;
    padding: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: .2s;
    color: #b8c1ec;
    height: fit-content;
    width: 150px;
    border-radius: 10px;
    font-size: 17px;
    background-color: #232946;
    border: 1px solid;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/*  */


/* bottom */

.bottom__main {
    padding: 50px 0 30px 0;
    width: 100%;
    height: fit-content;
    background-color: #232946;
    display: flex;
    justify-content: center;
}

.bottom__contents {
    margin: 0 3%;
    width: 10%;
    color: #b8c1ec;
}

.bottom__subtitle {
    font-size: 20px;
    padding: 0 0 10px 0;
    text-align: left;
}

.bottom__links {
    transition: .5s;
    text-align: left;
    color: #b8c1ec;
    font-size: 20px;
    display: block;
}

.bottom__links:hover {
    display: block;
    transform: scale(1) rotateX(360deg);
}

.bottom__produced {
    padding: 0 0 10px 0;
    color: #b8c1ec;
    font-size: 17px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: #232946;
}

/*  */


/* responsive */
@media screen and (max-width:500px) {
    .about__coding__child {
        padding: 0 0 0 15px;
    }

    .skills__main {
        display: block;
        padding: 30px 0;
    }

    .skills__contents {
        width: auto;
        height: fit-content;
        padding-bottom: 20px;
    }

    .bottom__main {
        display: block;
    }

    .bottom__contents {
        padding: 0 0 20px 0;
        width: 80%;
        margin: 0 auto;
    }

    .bottom__subtitle {
        font-size: 25px;
    }

    .bottom__links {
        font-size: 22px;
    }
}

@media screen and (max-width:870px) {
    .swiper-wrapper {
        pointer-events: none;
        height: 450px !important;
    }

    [data-aos] {
        opacity: 1 !important;
        transform: none !important;
    }
}

@media screen and (max-width:1200px) {
    .bottom__contents {
        padding: 0 0 20px 0;
        width: 80%;
    }
}
